@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #dbe2f4;
}
.container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.sidebar {
  position: relative;
  width: 256px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 24px;  
  transition: all 0.3s;
}
.sidebar .head {
  display: flex;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.user-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}
.user-img img {
  width: 100%;
  object-fit: cover;
}
.user-details .title,
.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.user-details .name {
  font-size: 14px;
  font-weight: 500;
}
.nav {
  flex: 1;
}
.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}
.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}
.menu ul li > a:hover,
.menu ul li.active > a {
  color: #000;
  background-color: #f6f6f6;
}
.menu ul li .icon {
  font-size: 20px;
}
.menu ul li .text {
  flex: 1;
}
.menu ul li .arrow {
  font-size: 14px;
  transition: all 0.3s;
}
.menu ul li.active .arrow {
  transform: rotate(180deg);
}
.menu .sub-menu {
  display: none;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #f6f6f6;
}
.menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 12px;
}
.menu:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f6f6f6;
}
.menu-btn {
  position: absolute;
  right: -14px;
  top: 50%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #757575;
  border: 2px solid #f6f6f6;
  background-color: #fff;
}
.menu-btn:hover i {
  color: #000;
}
.menu-btn i {
  transition: all 0.3s;
}
.sidebar.active {
  width: 92px;
}
.sidebar.active .menu-btn i {
  transform: rotate(180deg);
}
.sidebar.active .user-details {
  display: none;
}
.sidebar.active .menu .title {
  text-align: center;
}
.sidebar.active .menu ul li .arrow {
  display: none;
}
.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar.active .menu > ul > li > a .text {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.sidebar.active .menu > ul > li > a .text::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #000;
  transform: rotate(45deg);
  z-index: -1;
}
.sidebar.active .menu > ul > li > a:hover .text {
  left: 50px;
  opacity: 1;
  visibility: visible;
}
.sidebar.active .menu .sub-menu {
  position: absolute;
  top: 0;
  left: 20px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #f6f6f6;
  background-color: #fff;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.credits {
 width: 75%;
/* padding: 20%; */
padding-top: 30px;
height: 70vh;
 background-color: #fff;
 display: block;
 margin: auto;
 border-radius: 10px;
}





.wrapper{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 80%;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
  }
  
  .wrapper .left{
    width: 35%;
    background: linear-gradient(to right,#01a9ac,#01dbdf);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
  }
  
  .wrapper .left img{
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .wrapper .left h4{
    margin-bottom: 10px;
  }
  
  .wrapper .left p{
    font-size: 12px;
  }
  
  .wrapper .right{
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .wrapper .right .info,
  .wrapper .right .projects{
    margin-bottom: 25px;
  }
  
  .wrapper .right .info h3,
  .wrapper .right .projects h3{
      margin-bottom: 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid #e0e0e0;
      color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  .wrapper .right .info_data,
  .wrapper .right .projects_data{
    display: flex;
    justify-content: space-between;
  }
  
  .wrapper .right .info_data .data,
  .wrapper .right .projects_data .data{
    width: 45%;
  }
  
  .wrapper .right .info_data .data h4,
  .wrapper .right .projects_data .data h4{
      color: #353c4e;
      margin-bottom: 5px;
  }
  
  .wrapper .right .info_data .data p,
  .wrapper .right .projects_data .data p{
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
  }
  
  .wrapper .social_media ul{
    display: flex;
  }
  
  .wrapper .social_media ul li{
    width: 45px;
    height: 45px;
    background: linear-gradient(to right,#01a9ac,#01dbdf);
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
  }
  
  .wrapper .social_media ul li a{
    color :#fff;
    display: block;
    font-size: 18px;
  }




  /* Modal */

  
  
    .modal-header {
      align-items: baseline;
      display: flex;
      justify-content: space-between;
    
    }
  
    .close {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      height: 16px;
      text-decoration: none;
      width: 16px;
  
      color: #242e3a;
    }
  
    .modal-wrapper {
      align-items: center;
      background: rgba(0, 0, 0, 0.7);
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
    }
  
    #modal {
      opacity: 0;
      visibility: hidden;
  
      &:target {
        opacity: 1;
        visibility: visible;
  
        .modal-body {
          opacity: 1;
          transform: translateY(1);
        }
      }
  
      .modal-body {
        max-width: 800px;
        opacity: 0;
        transform: translateY(-100px);
        background-color: #fff;
        width: 100%;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 15px;
        z-index: 1;
        margin-top: 15%;
        border-radius: 7px;
      }
    }
  
    .outside-trigger {
      bottom: 0;
      cursor: default;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
    }
  
    .button__link {
      text-decoration: none;
      background-color: #242e3a;
        padding: 10px;
        border-radius: 6px;
      
        color: #ffd245;
        border: none;
    }

        .layout {
          /* margin-top: 90px; */
          width: 100%;
          display: grid;
          grid-template-rows: repeat(1, 1fr);
          grid-template-columns: repeat(2, 1fr);
          gap: 60px;
          
        }



    .required::after {
      content: "*";
      color: red;
    }
  
    input,
    textarea {
      margin-top: 8px;
      margin-bottom: 2px;
      border: 2px solid #c5c5c5;
      border-radius: 6px;
      padding: 10px;
      width: 110%;
      max-width: 100%;
  
    }
  
    input[type="text"],
    input[type="email"],input[type="password"]:focus {
      outline: none;
    }
  
    textarea:focus {
      outline: none;
    }
  
    .panel {
      width: 60%;
      height: 40%;
      background-color: #242e3a;
      border-radius: 100%;
      display: block;
      margin: auto;
    }

            .icon {
              font-size: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              color: #fff;
            }

                             .input-modal-1 {
                               width: 70%;
                               display: block;
                               margin: auto;
                             }
              
                             .label-1 {
                               margin-left: 52px;
                             }
              
                             .field {
                               margin-top: 30px;
                             }
              
                             .btn-s {
                               background-color: #242e3a;
                               padding: 10px;
                               border-radius: 6px;
                               margin-top: 30px;
                               color: white;
                               border: none;
              
                             }
              
                             .btn-e {
              
                               padding: 10px;
                               color: red;
                               border: none;
                               background-color: #fff;
              
                             }
        
        .label{
          color: #242e3a;
          display: flex;
         
          /* margin-bottom: 10px; */
        }
/* modal 1 */


.modal-header2 {
  align-items: baseline;
  display: flex;
  justify-content: space-between;

}

.close2 {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 16px;
  text-decoration: none;
  width: 16px;
  
  color: #242e3a;
}

.modal-wrapper2 {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#modal2 {
  opacity: 0;
  visibility: hidden;

  &:target {
    opacity: 1;
    visibility: visible;

    .modal-body2 {
      opacity: 1;
      transform: translateY(1);
    }
  }

  .modal-body2 {
    max-width: 500px;
    opacity: 0;
    transform: translateY(-100px);
    background-color: #fff;
    width: 100%;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    z-index: 1;
    margin-top: 15%;
    border-radius: 7px;
  }
}

.outside-trigger2 {
  bottom: 0;
  cursor: default;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

             .btn-password {
               background-color: #242e3a;
               padding: 10px;
               width: 100%;
               border-radius: 6px;
               margin-top: 30px;
               color: white;
               border: none;
               font-size: 15px;
      
             }
.button__link2 {
  text-decoration: none;
  /* border-color: ; */
  padding: 10px;
  border: 2px solid #242e3a;
  border-radius: 6px;
  margin-left: 20px;
  color: #ffd245;
  /* border: none; */
}

.layout2 {
 display: block;
 margin: auto;

}
.notes{
  float: right;
  font-size: 10px;
}
.heading{
  color: #242e3a;
}
/* modal 2 */
        .paragraph{
          margin-left: 43px;
          margin-top: 10px;
        }
                .flex-column{
                  display: flex;
                }
                .column {
                  /* margin-top: 90px; */
                  width: 100%;
                  display: grid;
                  grid-template-rows: repeat(3, 1fr);
                  grid-template-columns: repeat(4, 1fr);
                  gap: 60px;
                  max-height: 50%;
        
                }
                /* .color
                {
                  border: 1px solid black;
                } */
               
      
        .panel-box{
          width: 60%;
          height: 100%;
          background-color: #242e3a;
          border-radius: 10px;
          display: block;
          margin: auto;
          max-height: 55%;
          min-height: 56%;
        }
  
        .icon-2 {
          font-size: 23px;
          float: right;
          margin-top: -27%;
           margin-right: 6%;
           background-color: #242e3a;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 12px;
      padding-right: 12px;
      border-radius: 100%;
      border: 4px solid #fff;
      color: #ffd245;
            /* color: #fff; */
        }
     

        .rows{
          margin-bottom: 30px;
        }
        .buble{
          color: #242e3a;
          border-radius: 50px;
          text-decoration: none;
          margin-top: 13px;
          background-color: #cacaca;
          margin-left: 43px;
          padding: 10px;
        }
        .flex{
          display: flex;
          margin-left: 43px;
          margin-top: 20px;
        }
        .datas{
          font-size: larger;
          font-weight: bold;
          color: #242e3a;
        }